╔═════════════════════════════════════════╗                                     
║                  GLOBAL                 ║ 
╚═════════════════════════════════════════╝

*/
 
 @font-face {
     font-family: 'fontawesome';
     src: url('../fonts/fontawesome-webfont.otf') format('otf'), url('../fonts/fontawesome-webfont.eot') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
 }
 
 body {
     min-width: 375px;
 }
 
  {
     font-family: Calibri;
     color: #272727;
     padding: 0;
     margin: 0;
     letter-spacing: -0.05em;
 }

 nav>ul>li {
     display: inline-block;
     border-top: solid 5px #fff;
     height: 95px;
     min-width: 75px;
     line-height: 95px;
     text-align: center;
 }
 
 nav ul {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 nav a {
     text-decoration: none;
     color: grey;
     display: block;
 }